[Unit]
Description=Tina [BOT] - Discord bot
After=network.target

[Service]
Type=simple
User=tina
WorkingDirectory=/opt/tina-bot/apps/bot
EnvironmentFile=/opt/tina-bot/apps/bot/.env
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
